/* general styles */
*{
    margin: 0px;
    padding:0px;
}

.row{
    margin: 0;
}

/* Header */


header{
    background-color: #2a963a;

}

.divLogo{
    padding-left:2vw;
}

.divTitolo{
    padding-right:2vw;
}

.titoloPd{
    font-size:2rem;
}

.logoPd{
    max-width: 3rem;
}

/* citazione */

.divCitazione{
    display: flex;
    justify-content: center;
    margin-top:10vh;
    margin-bottom:10vh;
    
}

blockquote{
    border: 1px solid black;
    box-shadow: 8px 8px 8px gainsboro;
    border-radius: 4px;
    
    padding:2vw;
}

/*  Main */

.divSindaco{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sismondiniImg{
    max-width: 10vw;
}

.titoloLista{
    font-size: 1.8rem;
}

.divConsiglieri{

    margin-top:7vh;
}

.righe{
    margin-bottom: 7vh;
}

.divColonne{
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}

/* footer */

footer{
    background-color: #ea1a21;
}

.instagram{
    color:#a72f92;
}

/* media queries */

@media screen and (max-width: 600px){

    .divTitolo{
        max-width: 300px;
        
    }

    .titoloPd{
        font-size: 1.5rem;
        
    }

    .divCitazione{
        max-width: 300px;
        margin: 0 auto;
        margin-top: 4vh;
    }

    .titoloLista{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 500px){

    /* .divTitolo{
        max-width: 200px;
        
    } */

    /* .titoloPd{
        font-size: 1rem;
        text-align: right;
    } */
}

@media screen and (max-width:430px){
    .titoloLista{
        font-size: 1.1rem;
    }
}